<style>
    a{
        text-decoration:none;
        color: white;
    }
</style>
<div class="container">
    <h1><%= @article.title %></h1>
    <p><%= @article.body %></p>
    <div class="container my-3" >
    <% if user_signed_in? %>
        <button class="btn btn-primary ">
            <%= link_to "Edit", edit_article_path(@article) %>
        </button>
       
        <button class="btn btn-danger">
            <%= link_to "Delete", article_path(@article), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
            }%>
        </button>
    <% end %>
    </div>

    <%= render @article.comments %>

    <% if user_signed_in? %>
        <div>
            <h2>Add a comment</h2>
            <%= render 'comments/form'%>
        </div>
    <% else %>
        <h4>To add a comment please sign Up/ sign In</h4>
    <%end%>
</div>